<p>Company name: <%= @collection_company.registered_company_name %></p>
<h1>P & L</h1>
<p>Total Income: <%= number_to_currency(@income) %></p>
<p>Total Expenses: <%= number_to_currency(@expenses) %></p>
<p>Total Profit: <%= number_to_currency(@income - @expenses) %></p>

Customers
<ol>
  <% @collection.entries.each do |entry| %>
    <li><%= entry.given_name %> <%= entry.family_name %> | Email: <%= entry.email.address %> | Balance: <%= entry.open_balance.amount %></li>
  <% end %>
</ol>
Accounts
<ol>
  <% @collection_account.entries.each do |entry| %>
    <li><%= entry.name %> | <%= entry.current_balance %> | <%= entry.sub_type %></li>
  <% end %>
</ol>

<div id="container" style="width: 400px; height: 400px"></div>

<script>

      $(function() {
          new Highcharts.Chart({
              chart: {
                  renderTo: 'container',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: 'Customers'
              },
              tooltip: {
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Browser share',
                  data: [
                      ['Firefox',   45.0],
                      ['IE',       26.8],
                      ['Safari',    8.5],
                      ['Opera',     6.2],
                      ['Others',   0.7]
                  ]
              }]
          });
      })

</script>